
.inquiry-project-Table-heading span{
    font-size: 11px;
    letter-spacing: 2px;
}
.project-table-start{

    margin-left:35px;
    margin-right:35px;
    padding-bottom: 60px;
}
.project-cls{
    border-radius: 10px;
}
.project-sub-cls{
    border-radius: 10px;
    margin-left: 78px;
 
}
.project-table-cls .project-table-tr .project-table-td{
    border-right: 1px solid #ccc;
}
.form-check-input[type=checkbox] {
    border: 1px solid #ccc !important;
    border-radius: 3px !important;
}

.project-classess{
    overflow: auto;
    max-height: 250px;
}


