
.form-class{
    height: 100vh;
    padding-top: 100px;
}
.form-class h3{
    text-align: center;
    color:#006FE6;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
    }
    .form-class form{
        width: 29%;
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
        margin: auto;
        padding-top: 36px;
        border-radius: 5px;
        padding-bottom: 36px;
        
    }
    .form-class form .form-center-cls{
        padding-left: 34px;
    }

    .form-class form label{
        display: block;
        margin-bottom: 11px;
        width: 30%;
    }
    
    .form-class form input
    {
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 13px;
        width: 87%;
        padding: 10px 18px;
    }
    .form-class form .btn-cls{
        display: block;
        width: 59%;
        margin-left: 62px;
        cursor: pointer;
        border: none;
        color: #fff;
        background: #006FE6;
        padding: 14px 0px;
        font-size: 14px;
        border-radius: 8px;
        margin-top: 26px;
        margin-bottom: 25px;
    }

    .form-class form .log-cls{
        display: block;
        cursor: pointer;
        border: none;
        color: #006FE6;
      background-color: none !important;
        font-size: 14px;
        text-decoration: none;
        text-align: center;

    }